{% extends 'main_page.html' %}

{% block search %}
<form method="get">
    <input type="search" name="q" placeholder="Поиск планов" value="{{ request.GET.q }}">
</form>
{% endblock %}

{% block plans %}
    <div class="block">
        <div class="plans">
            <div class="card plus">
                <a href="{% url 'app:create_plan' %}" title="Добавить план">+</a>
            </div>
        {% for plan in plans %}
            <div class="card">
                <h1><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></h1>
                <p>Тип: {{ plan.plan_type }}</p>
                <p>Период: <br> {{ plan.start_period }}<br>{{ plan.period_end}}</p>
            </div>
        {% endfor %}
        </div>

        <div class="pagiantor">
            {% if is_paginated %}
            <span>Другие планы:</span>
            {% for page_num in paginator.page_range %}
                {% if page_num == page_obj.number %}
                <p class="main-num">{{ page_num }}</p>
                {% else %}
                <a class="num" href="?page={{ page_num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}